<ng-include src="'app/components/navBar/navBar.html'"></ng-include>
<div class="container">
    <div class="page-header">
        <h1>Rules</h1>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <ol>
                    <li>Season scoring will be the highest score wins the overall season.</li>
                    <li>For each game, scoring will be the sum of the difference between the projected scores and
                        actual scores. The sum will be subtracted from your overall season total, with week one starting from a 0 balance.</li>
                    <li>Each game the one who picked the game winner with the lowest difference will be awarded <strong>10</strong> points.
                        If there is more than one with the same difference, 10 points will be awarded to each. If no one picked the
                        correct winner, no bonus points will be awarded.</li>
                    <li>If a person gets the exact score, an bonus of <strong>25</strong> points will be awarded.</li>
                    <li>If a person get the exact spread a bonus of <strong>5</strong> points will be awarded.</li>
                    <li>Failure to submit a guess for any particular week will result in a loss equal to the lowest weekly score,
                        plus a penalty of <strong>–5</strong> points.</li>
                    <li><s>Braggers Rule: Each week that Michael does not win, he will be given a 25 point penalty. Each week that he is not leading the standings he will be given a 50 point penalty.</s></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <h2>Instructions</h2>
                <ul class="list-unstyled">
                    <li>To enter a score for each week, go to the schedule page, click on the <i class="fa fa-edit"></i> icon.
                    The dialog will allow you to enter and update your score.</li>
                    <li>Scores can be entered up until Friday noon (cut-off time) for Saturday and Friday games. Games on other days
                        (none this season) will have a cut-off time of noon on the day of the game</li>
                    <li>After the cut-off time the entered scores will be shown on the dashboard page.</li>
                    <li>After the game is over, the Admin will post the game score and the scoring will be calculated for the game.
                    The results will be shown on the dashboard.</li>
                    <li>The current week's game will be shown on the dashboard until the Monday following the game.
                        At that point the next game will be shown.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
