<ng-include src="'app/components/navBar/navBar.html'"></ng-include>
<div class="container">
    <div class="page-header">
        <h1>Rules</h1>
    </div>
    <div class="page-content">
        <ol>
            <li>Season scoring will be the highest score wins the overall season.</li>
            <li>For each game, scoring will be the sum of the difference between the projected scores and actual scores. The sum will be subtracted from your overall season total, with week one starting from a 0 balance.</li>
            <li>Each game the one who picked the game winner with the lowest difference will be awarded 10 points. If there is more than one with the same difference, 10 points will be awarded to each. If no one picked the correct winner, no bonus points will be awarded.</li>
            <li>If a person gets the exact score, an bonus of 25 points will be awarded.</li>
            <li>If a person get the exact spread a bonus of 5 points will be awarded.</li>
            <li>Failure to submit a guess for any particular week will result in a loss equal to the lowest weekly score, plus a penalty of –5 points.</li>
        </ol>
    </div>
</div>
