<div class="modal-header">
    <h3 class="modal-title"><ng-pluralize count="game.id" when="{'': 'Add', 'other': 'Edit'}"></ng-pluralize> Game Score for BYU vs {{ game.opponent }}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="byuScore" class="col-sm-4 control-label">BYU</label>
            <div class="col-sm-6">
                <input type="text" ng-model="userScore.byuScore" class="form-control" id="byuScore" placeholder="BYU score">
            </div>
        </div>
        <div class="form-group">
            <label for="opponentScore" class="col-sm-4 control-label">{{game.opponent}}</label>
            <div class="col-sm-6">
                <input type="text" ng-model="userScore.oppScore" class="form-control" id="opponentScore" placeholder="{{game.opponent}} score">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
